* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00008bcb;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.loader .loading {
  height: 20px;
  width: 20px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 50px;
   animation: load 1.2s ease infinite;
}

.loader .loading.one {
  animation-delay: 0.4s;
}

.loader .loading.two {
  animation-delay: 0.5s;
}

.loader .loading.three {
  animation-delay: 0.6s;
}

.loader .loading.four {
  animation-delay: 0.7s;
}

@keyframes load {
  0% {
    height: 20px;
    width: 20px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
}
